
        :root {
            --primaryColor: #0045AD;
            --secondaryColor: #002369;
            --thirdColor: #ffffff;
            --iconColor: #0045AD;
            --iconColorOp: #376CBB;
            --iconColorOp2: #7DA2DA;
        }

